# ---------------------------
# Config (copy to config.env)
# ---------------------------

# Project working directory on HPC

BASE_DIR="/QRISdata/Q9062"

THREADS=8

# Core directories (unified; keep R570 suffix where relevant)
RAW_DIR="${BASE_DIR}/00_raw"
NAMED_DIR="${BASE_DIR}/00_named"
MERGED_DIR="${BASE_DIR}/01_merged"
QC_RAW_DIR="${BASE_DIR}/02_qc_raw"
CLEAN_DIR="${BASE_DIR}/03_clean"
QC_CLEAN_DIR="${BASE_DIR}/04_qc_clean"

SMUT_DIR="${BASE_DIR}/05_smut"
REF_DIR="${BASE_DIR}/06_ref"

SALMON_DIR="${BASE_DIR}/07_salmon_R570"
DESEQ_DIR="${BASE_DIR}/08_deseq2_R570"

# Sample lists
SAMPLES_ALL_TXT="${MERGED_DIR}/samples.txt"
SAMPLES_RKN_ONLY_TXT="${DESEQ_DIR}/samples_rkn_only.txt"

# References (user supplies)
SMUT_GENOME_FA="${SMUT_DIR}/smut_genome.fa"
BOWTIE2_INDEX_PREFIX="${SMUT_DIR}/index/Ssc39B_genome"

R570_TX_FA="${REF_DIR}/unpacked/R570_v2.1.transcript.fa"
R570_GFF3="${REF_DIR}/unpacked/R570_v2.1.gff3"

SALMON_INDEX_DIR="${REF_DIR}/R570_salmon_index"
TX2GENE_TSV="${REF_DIR}/tx2gene.tsv"

# Phytozome P14 annotation (user supplies)
P14_ANNOT_INFO_GZ="${REF_DIR}/SofficinarumxspontaneumR570_771_v2.1"".P14.annotation_info.txt.gz"
P14_ANNOT_TSV="${REF_DIR}/gene_annotation_R570P14.tsv"
